{% extends "global/html/base_gym_forms.html" %}

{% block content %}

    <h1 class="title">Register</h1>

    <form method="post">
        {% csrf_token %}

        {{form_exercise.management_form}}

        <div class="flex">
            <div class="backgound">
                <h2 class="exercises_title">Exercises</h2>
                {% for item in form_exercise %}
                    <div class="inline_form">
                        {{item}}
                    </div>
                {% endfor %}
            </div>
                
            <div class="backgound">
                <div style="margin-top: 23%;">
                    {{form.as_p}}
                    <button type="submit" class="btn" style="margin-top: 5%;">Submit</button>
                    <a href="{% url "home:home" %}">Cancel</a>
                </div>
             </div>

        </div>  
            
    </form>
    
{% endblock content %}